// Specific CSS for your home-page
ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
}

.main {
  margin-top: calc(75px + 2rem);
  z-index: 1;
  position: relative;
}
