.search-bar {
  background-color: #f7f9fc;
  display: none;
  z-index: 10;
  border-bottom: thin solid rgba(#000, 0.1);
}

.d-block {
  display: block;
}


.form-search {
  height: 44px;
  display: flex;
  align-items: center;
  .form-control.input-form {
    background: transparent;
    width: 100%;
    border: none;
    color: black;
    &::placeholder {
      color: black;
    }
  }
}
