.navbar-lewagon {
  background: white;
  box-shadow: $box-shadow;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 0 0 0;
  height: 75px;
  position: relative;

  a {
    color: black;
  }

  .navbar-toggler {
    padding: 2px 5px;
    border: none;
  }


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

nav .right-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;

  li:first-child {
    padding: 0.6rem;
  }
  li:last-child {
    padding: 0.3rem 0.6rem;
    button {
      font-size: 1.5rem;
      color: $gray;
    }
  }

}

#hamburger-icon {
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: $gray;
  margin: 6px 0;
  transition: 0.4s ease-out;
}

.active .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  transform: rotate(45deg) translate(-7px, -9px);
}
